//rgba(33,33,33,0.9)
@import '../app.component.scss';
.navbar-top{
  background-color: $background-color-nav-header;
  height: 60px;
  .icon-navbar-top{
    height: 100%;
    width: 50px;
  }
  .form-input{
    background-color:transparent;
    //&:focus{
    //  border:solid 1px blueviolet;
    //}
  }
  .header-navbar-top-right{
    position: absolute;
    right: 15px;
    .arrow{
      background-image: url(/rsrc.php/v3/y1/r/MA2DfjBTAo4.png);
      background-repeat: no-repeat;
      background-size: 28px 1080px;
      background-position: 0 -872px;
      height: 11px;
      position: absolute;
      top: -11px;
      width: 20px;
    }
    .menu{
      margin-top: 0.7em !important;
    }
  }
}
