//rgba(33,33,33,0.9)
@import '../app.component.scss';
.navbar-top{
  background-color: $background-color-nav-header;
  width: 100%;
  height: 60px;
  .icon-navbar-top{
    height: 100%;
    width: 50px;
  }
  .form-input{
    background-color:transparent;
    //&:focus{
    //  border:solid 1px blueviolet;
    //}
  }
  .header-navbar-top-right{
    position: absolute;
    right: 15px;
    .menu{
      margin-top: 0.7em !important;
    }
  }
}
