// $border-color: #007bff;
// $defaut-color: #96c8da;
// @keyframes example {
//     0%   { border-bottom: 2px solid $defaut-color; width: 0;}
//     25%  { border-bottom: 2px solid $defaut-color; width: 25%;}
//     50%  { border-bottom: 2px solid $defaut-color; width: 50%;}
//     100% { border-bottom: 2px solid $defaut-color; width: 100%;}
// }

// .bottom-form{
//     margin-top: 15px;
//     margin-bottom: 200px;
// }
// .wrap-form{
//     position: relative;
//     height: 100%;
// }
// .content-form{
//     margin-top: 15%;
//     padding: 15%;
//     padding-top: 15%;
//     padding-bottom: 15%;
//     height: 600px;
//     box-shadow: 0 0 15px grey;
//     .control-label{
//         float: left;
//         padding-top: 5px;
//         padding-left: 0;
//         padding-right: 0;
//     }
//     .col-lg-9{
//         float: left;
//     }
//     .float-lg-left{
//         text-align: left;
//         padding: 0;
//     }
//     .float-lg-right{
//         text-align: right;
//     }
//     .content{
//         padding: 0;
//         .input{
//             margin-top: 0;
//             margin-bottom: 0;
//         }
//     }
//     .form-control{
//         border-radius: 0;
//         border:none;
//         background-color: transparent;
//         border-bottom: 1px solid $defaut-color;
//         padding-left: 20px;
//         &:focus{
//             animation-name: example;
//             animation-duration: 0.5s;
//             border-bottom: 2px solid $defaut-color; 
//         }
//     }
//     .form-group{
//         &:focus-within .icon-register{
//             color:$defaut-color;
//         }
//     }
//     .icon-register{
//         position: absolute;
//         top: 8px;
//     }
  
// }
// .ui.active.selection.dropdown {
//     min-width: 100% !important;
// }    "
@import "../../app.component.scss";
