.form-register{
    margin-top: 15%;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    .control-label{
        float: left;
    }
    // .form-control{
    //     float: left;
    // }
    .col-lg-9{
        float: left;
    }
}
  