<div class="row justify-content-center wrap-form">
        <div class="col-xl-10 col-sm-8"><!--col-lg-10 col-md-10 col-sm-10-->
            <div class="row justify-content-center" >
                <div class="col-xl-6" >
                    <div class="content-form thumbnail">
                        <form class="form-horizontal" #userForm="ngForm" novalidate>
                        <h3 align='center'>{{'register.title'|translate}}</h3>
                        <br />
                        <div class="col-xl-12">
                            <div class="form-group ">
                                    <i class="fa fa-users icon-register"></i>
                                    <input type="text" class="form-control " 
                                    placeholder="{{'register.username'|translate}}"
                                    #username="ngModel" [(ngModel)]="user.username"
                                      name="username"
                                    [ngClass]=" ((!username.pristine) && username.invalid)  ? 'form-error' : 'form-default'" autocomplete="off"
                                    minlength="4" maxlength="16" required 
                                    >
                            </div>
                            <div class="form-group ">
                                <div *ngIf="((!username.pristine) && username.invalid)" class="message-error">
                                    tai khoản phải từ 1-10 kí tự
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-12">
                            <div class="form-group">
                                    <i class="fa fa-lock icon-register" ></i>
                                    <input type="password" class="form-control"  
                                    [ngClass]=" ((!password.pristine) && password.invalid)  ? 'form-error' : 'form-default'" autocomplete="off"
                                    placeholder="{{'register.password'|translate}}"
                                    #password="ngModel" [(ngModel)]="user.password"
                                    name="password" minlength="4" maxlength="16"
                                    required>

                            </div>
                            <div class="form-group ">
                                <div *ngIf="((!password.pristine) && password.invalid)" class="message-error">
                                    tai khoản phải từ 1-10 kí tự
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xl-12">
                            <div class="form-group">
                            <i class="fa fa-envelope icon-register"></i>
                            <input type="email" class="form-control" 
                            required placeholder="{{'register.email'|translate}}"
                            pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                            [ngClass]=" ((!email.pristine) && email.invalid)  ? 'form-error' : 'form-default'" autocomplete="off"
                            #email="ngModel" name="email" 
                            [(ngModel)]="user.email"
                            >  
                            </div>
                            <div class="form-group ">
                                <div *ngIf="((!email.pristine) && email.invalid)" class="message-error">
                                    email phải có dạng abc@xyz.com
                                </div>    
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <select class="ui fluid  dropdown" [(ngModel)]="user.country" name="country"> 
                                        <option value="vi"><i class="vn flag"></i>VietNam</option>
                                        <option value="en"><i class="gb flag"></i>England</option>
                                </select>
                                {{user.country}}
                            </div>
                        </div>
                     
                        <!-- <div class="col-xl-4 form-date-left" >
                            
                                <select class="ui fluid dropdown day" [(ngModel)]="date.day" name="day"> 
                                    <option *ngFor="let day of day" [value]="day"  >{{day}}</option>
                                </select>
                        </div>
                        <div class="col-xl-4 form-date-left" >
                                <select class="ui fluid  dropdown month" [(ngModel)]="date.month" name="month"> 
                                        <option  *ngFor="let month of month"  [value]="month">{{month}}</option>
                                </select>
                        </div>
                        <div class="col-xl-4 form-date-right" >
                                <select class="ui fluid  dropdown" [(ngModel)]="date.year" name="year"> 
                                        <option *ngFor="let year of year" [value]="year"  >{{year}}</option>
                                </select>
                        </div> -->
                        <div class="col-xl 12">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="sex" checked="checked">
                                            <label>Nam</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="sex">
                                            <label>Nữ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                                    <input type='text' class='datepicker-here form-control' data-language='en' pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"  #date="ngModel" [(ngModel)]="user.date" name="date"
                                    [ngClass]=" ((!date.pristine) && date.invalid)  ? 'form-border-error' : ''"
                                    required placeholder="{{'register.date'|translate}}"/>                            
                        </div>
                        <div class="col-xl-12" style="margin-top: 15px;">
                            <button type="button" [disabled]="!userForm.valid" (click)="handleRegister()" class="btn btn-primary" style="width: 100%;margin-top: 25px;background:linear-gradient(40deg,#007bff,#7873f5)!important;border: none;">Đăng Ký</button>
                        </div>
                        </form>
                    </div>
                    <div class="bottom-form">
                        <select class="ui dropdown" [(ngModel)]="registerLanguage" (change)="handleSelectLanguage(registerLanguage)">
                                <option value="vi">Tiếng Việt</option>
                                <option value="en">English</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>  
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
