<div class="row justify-content-center wrap-form">
    <div class="col-xl-10">
        <div class="row justify-content-center" >
            <div class="col-xl-6" >
                <div class="content-form thumbnail" >
                    <form class="form-horizontal"  #userForm="ngForm" novalidate>
                    <h3 align='center'>{{'login.title'|translate}}</h3>
                    <br />
                    <div class="alert alert-danger" *ngIf="showAlertError"  role="alert">
                        Tai khoan hoac mat khau khong chinh xac
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                                <span class="fa fa-users icon-default" ></span><span *ngIf="username.valid"  class="fa fa-check icon-check" ></span>
                                <input type="text" [(ngModel)]="user.username" name="username" class="form-control form-default" #username="ngModel" aria-label="Large" autocomplete="off" minlength="4" maxlength="16" 
                                placeholder="{{'login.username'|translate}}" required >
                                <!--(username.errors) && (username.dirty || username.touched) ? 'form-control-error' : 'form-control-default'-->
                                {{username.className}}
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                                <span class="fa fa-lock icon-default" 
                                ></span><span *ngIf="password.valid" class="fa fa-check icon-check" ></span>
                                <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" class="form-control  form-default" aria-label="Large" 
                                minlength="4" maxlength="16" 
                                required placeholder="{{'login.password'|translate}}" required>
                        </div>
                    </div>
                    <div class="col-xl-12" style="margin-top: 15px;">
                        <button type="button" [disabled]="!userForm.valid" (click)="handleLogin()" class="btn btn-primary" style="width: 100%;">Đăng Nhập</button>
                    </div>
                    </form>
                </div>
                <div class="bottom-form">
                    <select class="ui dropdown" [(ngModel)]="registerLanguage" (change)="handleSelectLanguage(registerLanguage)">
                            <option value="vi">Tiếng Việt</option>
                            <option value="en">Englist</option>
                    </select>
                </div>
            </div>
    </div>
</div>  
</div>
