<div class="row justify-content-center wrap-form">
    <div class="col-xl-10">
        <div class="row justify-content-center" >
            <div class="col-xl-6" >
                <div class="content-form thumbnail"  style="box-shadow: 0 0 15px grey;">
                    <form class="form-horizontal" >
                    <h3 align='center'>{{'login.title'|translate}}</h3>
                    <br />
                    <div class="col-xl-12">
                        <div class="form-group">
                                <i class="fa fa-users icon-register" ></i>
                                <input type="text" [(ngModel)]="user.username" name="username" class="form-control" aria-label="Large" autocomplete="off" placeholder="{{'login.username'|translate}}">
                        </div>
                    </div>
                    
                    <div class="col-xl-12">
                        <div class="form-group">
                                <i class="fa fa-lock icon-register" ></i>
                                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" aria-label="Large" placeholder="{{'login.password'|translate}}">
                        </div>
                    </div>
                    <div class="col-xl-12" style="margin-top: 15px;">
                        <button type="button" (click)="handleLogin()" class="btn btn-primary" style="width: 100%;">Đăng Nhập</button>
                    </div>
                    </form>
                </div>
                <div class="bottom-form">
                    <select class="ui dropdown" [(ngModel)]="registerLanguage" (change)="handleSelectLanguage(registerLanguage)">
                            <option value="vi">Tiếng Việt</option>
                            <option value="en">Englist</option>
                    </select>
                </div>
            </div>
    </div>
</div>  
</div>

