
$background-color-nav-header: rgb(241, 241, 241);
$color-border-input: #96C8DA;
$color-animation-input: #007bff;


.margin-top{
    margin-top: 15px;
}
.margin-bottom{
    margin-bottom: 15px;
}
.margin-left{
    margin-left: 15px;
}
.margin-right{
    margin-right: 15px;
}   