/* You can add global styles to this file, and also import other style files */

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}
body{
    // font-family: Georgia,"Times New Roman",Times,serif !important;
    background-color: #fff;
}
.owl-stage{
  display: flex ;
  box-sizing: none;
}
.owl-item{
  display: flex ;
}
.owl-item .active{
  width: 400px !important;
}