<div class="product-detail">
    <div class="col-xl-5">

        <!-- <img src="">
        <h3>SamSung Galaxy</h3>
        <h3 class="price">23 000 000</h3> -->
    </div>
    <div class="col-xl-5">

    </div>
    <div class="col-xl-2">

    </div>
</div>
<!-- <div class="col-xl-12" style="padding: 50px;">
    <div class="card-group">
        <div class="card card-header">
            <h3>
                <span>Điện thoại</span>
            </h3>
            <div class="title">
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/G61207.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-title price">2000000</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/G61207.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <h6 class="card-title price">2000000</h6>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/G61207.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-title price">2000000</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has
                    even longer content than the first to show that equal height action.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-title price">2000000</h6>
                <p class="card-text">This is a wider ider card with supporting text below as a natural lead-in to additional coaction</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins agod</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12" style="padding: 50px;">
    <div class="card-group">
        <div class="card card-header">
            <h3>
                <span>Điện thoại</span>
            </h3>
            <div class="title">
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has
                    even longer content than the first to show that equal height action.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider ider card with supporting text below as a natural lead-in to additional coaction</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins agod</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12" style="padding: 50px;">
    <div class="card-group">
        <div class="card card-header">
            <h3>
                <span>Điện thoại</span>
            </h3>
            <div class="title">
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has
                    even longer content than the first to show that equal height action.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider ider card with supporting text below as a natural lead-in to additional coaction</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins agod</small>
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="col-xl-12  no-border" style="padding: 50px;">
    <div class="wrap-card">
        <div class="card-group">
            <div class="card card-header no-border" style="background-color: red;">
                <span style="font-size: 25px;padding: 5px;">Điện thoại</span>
                <div class="title">
                    <!-- <div class="ui tag labels"  >
                        <a href="#"> adssadasdasd</a>
                </div>
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a> -->
                    <ul class="nav nav-pills">
                        <!-- <li class="nav-item" style="font-size: 25px;padding: 5px;text-align: left;">Dien Thoai</li> -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-group " style="border:none;">
            <div class=" owl-carousel owl-theme">
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card no-border">
                    <div class="item">
                        <img class="card-img-top" src="./assets/img/product/samsung-galaxy-j7-pro.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span>
            <div class="ui tag labels" style="position: absolute; top: 50%;left: 0%;z-index: 2;  ">
                <button type="button" class="btn btn-outline-info" style="font-size: 50px;" (click)="left()">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
        </span>
        <span>
            <div class="ui tag labels" style="position: absolute; top: 50%;right: 0%;z-index: 2; ">
                <button type="button" class="btn btn-outline-info" style="font-size: 50px;" (click)="right()">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </span>
    </div>
</div>
<!-- <div class="col-xl-12" style="padding: 50px;">
    <div class="card-group">
        <div class="card card-header">
            <h3 style="margin-top: 15px;">
                <div class="ui tag labels">
                        <a class="ui teal label" style="font-size: 15px;">
                         Giảm giá
                        </a>
                 </div>
            </h3>
            <div class="title" >
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
                <a href="#"> adssadasdasd</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="col-xl-5 no-padding flex">
            <div class="card" style="margin-top: 15px;"  *ngFor="let product of products| slice:0:1">
                <img class="card-img-top" src="./{{product.urlImage}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.nameProduct}}</h5>
                    <h6 class="card-title price">{{product.price|number}}</h6>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="card" *ngFor="let product of products| slice:1:4">
            <img class="card-img-top" src="./{{product.urlImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.nameProduct}}</h5>
                <h6 class="card-title price">{{product.price|number}}</h6>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div> -->