@import "../app.component.scss";
.card{
    padding: 15px;
    display: flex;
}
.card-group .card-header{
    display: table-caption;
}
.card-group .card{
    border-radius: 0;
}
.title{
    float: right;
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
}
.card-header span{
    padding: 5px;
    position: absolute;
}
.card-header{
    position: relative;
    // top: 15px;
    width: 100%;
}
.card-img-top{
    max-height: 300px;
    width: 100%;
    padding: 15px;
}
.no-border{
    border: none;
}
.wrap-card{
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}
